h2 {
    color: white;
    text-align: center;
    font-family: Monaco, "Lucida Console", monospace;
}

p{
    color: white;
    font-size: xx-large;
    font-family: Monaco, "Lucida Console", monospace;
    text-align: center;
}
